---
import Layout from "../layouts/Layout.astro";
import Enemy from "../components/enemy.astro";
import Click from "../components/click.astro";
import Navbar from "../components/nav.astro"; 
import Upgrade from "../components/upgrade.astro";
---

<main>
	<Navbar/>
	<div>
		<div id="upgrade_container"> <!--Upgrade listen -->
		<Upgrade name="More Clicks" desc="Increases clicks by 1" cost="5 venom shard">
		</div>
		<Enemy name="test" hp="10" id="2" />
	</div>
	<Click />
</main>
