---
import Layout from "../layouts/Layout.astro";
import Enemy from "../components/enemy.astro";
import Click from "../components/click.astro";
---

<main>
	<Enemy name="test" hp="10" id="2" />
	<Click />
</main>
