---
import Layout from "../layouts/Layout.astro";
import Enemy from "../components/enemy.astro";
import Click from "../components/click.astro";
import Upgrade from "../components/upgrade.astro";
---
<Layout title="game">
	<main>
		<img src="/public/Viper_melancholy_logo.svg" alt="Viper Melancholy logo" id="logo" height="100px">
		<div id="game_container">
			<div id="upgrade_list"> <!--Upgrade listen -->
				<Upgrade name="More Clicks" desc="Increases clicks by 1. Each time you buy this upgrade the price will increase" cost="5" />
				<Upgrade name="Venom" desc="each 10th click is venomus. each 10th click, add venom which will do 3dmg per 2s over 10s" cost="20" />
			</div>
			<div id="enemy_container">
				<Enemy name="test" hp="10" id="2" />
				<Click/>
			</div>
		</div>
		</main>		
</Layout>
<style>
	#game_container {
		display: flex;
		flex-direction: row;
		height: 100vh;
		border-color: solid blue
	};
	#upgrade_list {
		flex-direction: column;
		border-color: solid blue
	};
</style>