#logg_inn{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#logg_inn_label{
    font-size: 1.5em;
    margin-bottom: 10px;
    flex-direction: column;
}
#Video {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    width: 25%;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    margin-bottom: 5%;
}
#navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
    border : 3px solid green;
}
#navKnapp {
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 1.2em;
}

#navKnapp:hover {
    color: #f1f1f1;
}
#board_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border: black solid 1px;

}
#score_container {
    flex-direction: column;
    /* align-items: ; */
    justify-content: flex-start;
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
}
#score_type {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}
/* #player_score {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
} */
:root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
}
html {
    font-family: system-ui, sans-serif;
}
code {
    font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
}
main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
}
#game_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
    border: solid 1px black
};
#upgrade_list {
    flex-direction: column;
    border-color: solid blue
};
#upgrade_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* align-items: flex-start; */
    width: 50%;
    height: 50%;
    padding: 10px;
    border: 1px solid black;
}
#upgrade_info_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid black;
    padding: 1%;
}
#buy_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
}
#buy {
    width: 50%;
    padding: 3%;
    border-radius: 3px;
    background-color: lightgreen;
    border: 3px solid black;
    color: white;
    border: none;
    cursor: pointer;
}
#buy:hover {
    background-color: green;
}
#upgrade_name {
    font-size: 150%;
}
#enemy_container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}
#enemyImage {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}
#logo_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1%;
}
#logo{
    justify-content: center;
    flex-direction: row;
    height: 25%;
    width: 25%;
}