<nav id="navBar">
    <a id="navKnapp" href="/game">Game</a>
    <a id="navKnapp" href="/board">Leaderboard</a>
    <a id="navKnapp" href="#">Guide</a>
    <a id="navKnapp" href="#">About us</a>
    <a id="navKnapp" href="/">Log out</a>
</nav>