---
interface Props {
	name: string;
	desc: string;
    cost: string;
}
const { name, desc, cost} = Astro.props;
---

<div id="upgrade_container">
    <div id="upgrade_info_container">
        <p id="upgrade_name">{name}</p>
        <p id="upgrade_desc">{desc}</p>
    </div>
    <div id="buy_container">
            <p id="cost">Cost {cost} V-shards</p>
            <button id="buy">Buy</button>
    </div>
</div>

<style>
    #upgrade_container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* align-items: flex-start; */
        width: 25%;
        height: 25%;
        padding: 10px;
        border: 1px solid black;
    }
    #upgrade_info_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border: 1px solid black;
        padding: 1%;
    }
    #buy_container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border: 1px solid black;
        padding: 1%;
    }
    #buy {
        width: 25%;
        padding: 3%;
        border-radius: 3px;
        background-color: red;
        color: white;
        border: none;
        cursor: pointer;
    }
    #buy:hover {
        background-color: darkred;
    }
    #upgrade_name {
        font-size: 150%;
    }
</style>